*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* overflow: hidden; */
}
header{
    position: relative;
    height: 100vh;
    width: 100%;
    background: url(property1.jpg);
    background-size: cover;
}
header .logo{
    position: absolute;
    top: 30px;
    left: 100px;
    height: 45px;
    width: 240px;
}
.logo img{
    height: 45px;
    width: 240px;
}
header .txt{
    position: absolute;
    height: 330px;
    width: 450px;
    /* border: 2px solid black; */
    top: 200px;
    left: 100px;
}
.txt .txt1{
    font-size: 36px;
    color: white;
    letter-spacing: 1px;
    font-weight: 00;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.txt .txt2{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}
.txt .txt3{
    font-size: 38px;
    font-weight: 500px;
    color: white;
    letter-spacing: 1px;
    padding-top: 40px;
}
.txt .border_red{
    position: absolute;
    top: 185px;
    height: 5px;
    width: 100px;
    border-top: 2px solid red;
}
header .join_oyo{
    position: fixed;
    z-index: 99;
    top: 750px;
    height: 80px;
    width: 100%;
    background-color: white;
}
.join_oyo .btn{
    position: absolute;
    left: 31%;
    top: 18px;
    height: 40px;
    width: 40%;
    background-color: red;
    border-radius: 30px;
    cursor: pointer;
}
.join_oyo .btn:hover{
    background-color: rgb(233, 48, 48);
}
.btn p{
    position: absolute;
    color: white;
    font-size: 25px;
    top: 7px;
    left: 40%;
    letter-spacing: 1px;
}
.container{
    position: relative;
    height: 800px;
    width: 100%;
    background-color: black;
}
.container .txt_1{
    position: absolute;
    top: 50px;
    left: 60px;
    height: 70px;
    width: 40%;
    /* border: 2px solid white; */
}
.txt_1 p{
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 3px;
}
.container .txt_2{
    position: absolute;
    top: 130px;
    left: 60px;
    height: 45px;
    width: 60%;
    /* border: 2px solid white; */
}
.txt_2 p{
    color: white;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 3px;
}
.container .onboarding{
    position: absolute;
    top: 200px;
    height: 450px;
    width: 30%;
    /* border: 1px solid white; */
}
.onboarding img{
    height: 300px;
    width: 100%;
    border-radius: 30px;
}
.onboarding .onboarding_txt{
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.onboarding .onboarding_txt1{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
    font-family: cursive;
}
.container .growth{
    position: absolute;
    left: 35%;
    top: 200px;
    height: 400px;
    width: 30%;
    /* border: 1px solid white; */
}
.growth img{
    height: 300px;
    width: 100%;
    border-radius: 30px;
}
.growth .growth_txt{
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.growth .growth_txt1{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
    font-family: cursive;
}
.container .operations{
    position: absolute;
    left: 70%;
    top: 200px;
    height: 450px;
    width: 30%;
    /* border: 1px solid white; */
}
.operations img{
    height: 300px;
    width: 100%;
    border-radius: 30px;
}
.operations .operations_txt{
    color: white;
    font-size: 24px;
    letter-spacing: 1px;
    padding-top: 10px;
}
.operations .operations_txt1{
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    padding-top: 10px;
    font-family: cursive;
}
.sign_up_img{
    position: relative;
    height: 450px;
    width: 100%;
    background: url(connected.png);
    opacity: 0.1;
    background-repeat: no-repeat;
    background-size: cover;
}
.sign_up{
    position: relative;
    margin-top: -450px;
    height: 450px;
    width: 100%;
    background: transparent;
    /* border: 2px solid red; */
    overflow: hidden;
}
.txt_a{
    position: absolute;
    top: 20px;
    left: 50px;
    color: black;
    font-size: 50px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.txt_b{
    position: absolute;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 85px;
    left: 50px;
}
.form{
    position: relative;
    height: 150px;
    top: -250px;
    padding-left: 33%;
    /* display: block; */
    overflow: hidden;
    /* background-color: black; */
}
.form .txt {
    height: 50px;
    width: 500px;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 16px;
    color: black;
    font-weight: 700;
    padding-left: 20px;
    outline: none;
    overflow: hidden;
}
.form .txt::placeholder{
    color: red;
    font-size: 16px;
    padding-left: 20px;
    font-weight: 700;
}
.form .submit_btn{
    position: absolute;
    height: 40px;
    width: 500px;
    background-color: red;
    color: white;
    top: 100px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 8px;
    padding-left: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}