@media screen and (max-width: 480px) 
{

    *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
        /* background-color: black; */
        /* overflow: hidden; */
    }
    /* body{
        background-color: black;
    } */
    header{
        position: relative;
        height: 100vh;
        width: 100%;
        background: url(property1.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 400px;
    }
    header .logo{
        position: absolute;
        top: 20px;
        left: 20px;
        height: 45px;
        width: 240px;
    }
    .logo img{
        height: 25px;
        width: 150px;
    }
    header .txt{
        position: absolute;
        height: 165px;
        width: 280px;
        /* border: 2px solid white; */
        top: 140px;
        left: 10px;
    }
    .txt .txt1{
        font-size: 18px;
        color: white;
        letter-spacing: 1px;
        font-weight: 00;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .txt .txt2{
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 1px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-top: 5px;
    }
    .txt .txt3{
        font-size: 26px;
        font-weight: 500px;
        color: white;
        letter-spacing: 1px;
        padding-top: 5px;
    }
    .txt .border_red{
        position: absolute;
        top: 112px;
        height: 5px;
        width: 60px;
        border-top: 2px solid red;
    }
    header .join_oyo{
        position: fixed;
        z-index: 99;
        top: 580px;
        height: 80px;
        width: 100%;
        background-color: white;
    }
    .join_oyo .btn{
        position: absolute;
        left: 31%;
        top: 18px;
        height: 40px;
        width: 40%;
        background-color: red;
        border-radius: 30px;
        cursor: pointer;
    }
    .join_oyo .btn:hover{
        background-color: rgb(233, 48, 48);
    }
    .btn p{
        position: absolute;
        color: white;
        font-size: 25px;
        top: 7px;
        left: 40%;
        letter-spacing: 1px;
    }
    .container{
        position: relative;
        top: -95px;
        height: 1400px;
        width: 100%;
        background-color: black;
    }
    .container .txt_1{
        position: absolute;
        top: 30px;
        left: 60px;
        height: 70px;
        width: 100%;
        /* border: 2px solid white; */
    }
    .txt_1 p{
        color: white;
        font-size: 30px;
        letter-spacing: 1px;
        font-weight: bold;
        padding-top: 3px;
    }
    .container .txt_2{
        position: absolute;
        top: 80px;
        left: 60px;
        height: 45px;
        width: 85%;
        /* border: 2px solid white; */
    }
    .txt_2 p{
        color: white;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        padding-top: 3px;
    }
    .container .onboarding{
        position: absolute;
        top: 200px;
        height: 350px;
        width: 60%;
        left: 20%;
        /* border: 1px solid white; */
    }
    .onboarding img{
        height: 200px;
        width: 100%;
        border-radius: 30px;
    }
    .onboarding .onboarding_txt{
        color: white;
        font-size: 24px;
        letter-spacing: 1px;
        padding-top: 10px;
    }
    .onboarding .onboarding_txt1{
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        padding-top: 10px;
        font-family: cursive;
    }
    .container .growth{
        position: absolute;
        left: 20%;
        top: 580px;
        height: 350px;
        width: 60%;
        /* border: 1px solid white; */
    }
    .growth img{
        height: 200px;
        width: 100%;
        border-radius: 30px;
    }
    .growth .growth_txt{
        color: white;
        font-size: 24px;
        letter-spacing: 1px;
        padding-top: 10px;
    }
    .growth .growth_txt1{
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        padding-top: 10px;
        font-family: cursive;
    }
    .container .operations{
        position: absolute;
        left: 20%;
        top: 950px;
        height: 350px;
        width: 60%;
        /* border: 1px solid white; */
    }
    .operations img{
        height: 200px;
        width: 100%;
        border-radius: 30px;
    }
    .operations .operations_txt{
        color: white;
        font-size: 24px;
        letter-spacing: 1px;
        padding-top: 10px;
    }
    .operations .operations_txt1{
        color: white;
        font-size: 18px;
        letter-spacing: 1px;
        padding-top: 10px;
        font-family: cursive;
    }
    .sign_up_img{
        position: relative;
        top: -100px;
        height: 450px;
        width: 100%;
        background: url(connected.png);
        opacity: 0.1;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .sign_up{
        position: relative;
        margin-top: -500px;
        height: 170px;
        width: 80%;
        left: 10%;
        background: transparent;
        /* border: 2px solid red; */
        overflow: hidden;
    }
    .txt_a{
        position: absolute;
        top: 10px;
        left: 20px;
        color: black;
        font-size: 30px;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .txt_b{
        position: absolute;
        font-size: 26px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        top: 85px;
        left: 20px;
    }
    .form{
        position: relative;
        left: 0%;
        height: 150px;
        top: 50px;
    }
    .form .txt {
        position: absolute;
        left: 10%;
        height: 50px;
        width: 80%;
        border: 2px solid black;
        border-radius: 6px;
        font-size: 16px;
        color: black;
        font-weight: 700;
        /* padding-left: 20px; */
        outline: none;
        overflow: hidden;
    }
    .form .txt::placeholder{
        color: red;
        font-size: 16px;
        padding-left: 20px;
        font-weight: 700;
    }
    .form .submit_btn{
        position: absolute;
        height: 40px;
        width: 80%;
        background-color: red;
        color: white;
        top: 80px;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1px;
        padding-top: 8px;
        left: 10%;
        padding-left: 150px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
    }

}